@tailwind base;
@tailwind components;
@tailwind utilities;

canvas{
    height: 100% !important;
}

.radicalGradient{
    background-color: rgb(55, 65, 81);
    background-image: radial-gradient(at 50% 40%, #FF0FBC 0, transparent 65%);
  
}